[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "glmmfields"]
	path = glmmfields
	url = https://github.com/seananderson/glmmfields
	shallow = true
	registered = true
